/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

/* Apply global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #E6E6FA;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin-top: 2rem;
  color: chocolate;
}

/* Style scoreboard */
.scoreboard {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.scoreboard > div {
  font-size: 2rem;
  margin: 0 1rem;
  padding: 0.5rem;
  border: 2px solid chocolate;
  border-radius: 10px;
  color: chocolate;
}

/* Style choices */
.choices {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.choice-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}
.display {
    padding: 10px;
}
.choice {
  border: 2px solid chocolate;
  border-radius: 10px;
  margin: 0 2rem;
  padding: 2rem;
  background-color: #FFFFFF;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice:hover {
  transform: scale(1.1);
}

.choice:active {
  transform: scale(0.9);
}

.choice i {
  color: chocolate;
  font-size: 50px;
}

/* Style result */
.result, .race-five {
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
  color: chocolate;
}

#computer-choice, #user-choice {
  text-align: center;
  font-size: 2rem;
  color: chocolate;
}



/* .logo {
  position: absolute;
  top: 30px;
  right: 30px;
  display: block;
  z-index: 100;
  transition: all 250ms linear;
}

.logo img {
  height: 30px;
  width: auto;
  display: block;
} */


/* Add responsive design */
@media only screen and (max-width: 600px) {
  .choices {
    flex-wrap: wrap;
  }
  
  .choice {
    margin: 2rem 1rem;
  }
  
  .timer {
    margin-top: 1rem;
  }
}